/* overrides */

html {
    --pst-font-size-base: 16px;
    --pst-font-size-h1: 20px;
    --pst-font-size-h2: 20px;
    --pst-font-size-h3: 18px;
    --pst-font-size-h4: 16px;
    --pst-font-size-h5: 14px;
    --pst-font-size-h6: 12px;
}

img.align-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.indented-section {
    margin-left: 2em;
    /* Adjust the value for desired indentation */
}


a:link,
a:visited {
    color: hwb(200 15% 27%);
    text-decoration: underline;
    font-weight: normal;
}

a.underline {
    text-decoration: underline
}


a:right-next {
    color: hwb(200 15% 27%);
    /* Replace with a color name or hex code */
}

a:left-prev {
    color: hwb(200 15% 27%);
    /* Replace with a color name or hex code */
}