/* For overriding purposes */

img.align-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.internal-link {
    text-decoration: underline !important;
    color: orange;
}

.internal-link:hover {
    color: red;
}