/* overrides */

html {
    --pst-font-size-base: 20px;
}

img.align-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}


a {
    color: #5f93ad;
    text-decoration: underline;
    font-weight: normal;
}


a.underline {
    text-decoration: underline
}

a.visited {
    color: #5f93ad;
}

h1 {
    font-size: 30px
}

h2 {
    font-size: 25px
}